
body {
 background-color:#FFF8DC;
}
.btn1{
    border: none;
    position: relative;
    left: 155px;
    background-color: rgba(238, 176, 135, 0.979);
    width: 150px;
    height: 45px;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.btn2{
    border: none;
    position: relative;
    left: 180px;
    background-color: rgb(175, 94, 62);
    width: 150px;
    height: 45px;
    color: aliceblue;
    border-radius: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.imagem{
    display: flex;
    float: right;
    width: 500px;
    height: 640px;
}
.text1{
    position: relative;
    left: 100px;
    color:#A0522D;
    display: inline-block;
    font-size: 25px;

}
.text2{
    position: relative;
    left: 120px;
    color: #CD853F;
    display: inline-block;
    margin: 20px;
    font-size: 25px;
}
.text3{
    position: relative;
    left: 140px;
    top: 80px;
    color: #CD853F;
    display: inline-block;
    font-size: 20px;
}

